.main {
  align-items: center;
  background-color: #3d4738;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  width: 100%;
}

.image_wrapper {
  height: 50vh;
  position: relative;
  width: 100%;
}

.text_wrapper {
  height: 50vh;
}

.logo {
  object-fit: contain;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
  padding: 0 0.5rem;
}

@media (orientation: portrait) {
  .main {
    justify-content: flex-start;
  }
}

@media (min-width: 480px) {
  .image_wrapper {
    height: 65vh;
  }

  .text_wrapper {
    height: 35vh;
  }

  .title {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  .image_wrapper {
    height: 75vh;
  }

  .text_wrapper {
    height: 25vh;
  }

  .title {
    font-size: 3rem;
  }
}